.path-local-staffdirectory #region-main {
  padding: 0;
  border: 0 none;
  overflow: visible;
}
.local_staffdirectory-root .directory-search {
  margin-bottom: 20px;
  max-width: 500px;
  font-size: 16px;
}
.local_staffdirectory-root .directory {
  background-color: #E4F1FE;
  padding: 15px;
  float: left;
}
.local_staffdirectory-root .directory .directory-list {
  display: table;
  list-style: none;
  color: #313131;
  padding: 0;
  margin: 0;
}
.local_staffdirectory-root .directory .directory-list > li {
  display: table-row;
}
.local_staffdirectory-root .directory .directory-list > li > span {
  display: table-cell;
  padding: 4px;
  border-bottom: 1px solid #D4E0ED;
}
.local_staffdirectory-root .directory .directory-list > li > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table-cell;
  padding: 4px;
  border-bottom: 1px solid #D4E0ED;
}
.local_staffdirectory-root .directory .directory-list > li > ul > li span {
  display: table-cell;
  padding: 4px;
}
.local_staffdirectory-root .directory .header {
  font-weight: 600;
}
.local_staffdirectory-root .directory .attr_photo {
  width: 40px;
}
.local_staffdirectory-root .directory .attr_photo img {
  display: inline-block;
  width: 28px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}
.local_staffdirectory-root .directory .attr_staffcode {
  width: 115px;
}
.local_staffdirectory-root .directory .attr_displayname {
  width: 200px;
}
.local_staffdirectory-root .directory .attr_campus {
  width: 80px;
}
.local_staffdirectory-root .directory .attr_department {
  width: 280px;
}
.local_staffdirectory-root .directory .attr_jobposition {
  width: 370px;
}
.local_staffdirectory-root .directory .attr_extension {
  width: 100px;
  font-weight: 600;
}
.local_staffdirectory-root .directory .attr_email {
  width: 60px;
}
.local_staffdirectory-root .noitems-message {
  display: none;
}
.local_staffdirectory-root.noitems .directory {
  display: none;
}
.local_staffdirectory-root.noitems .noitems-message {
  display: block;
}
@media only screen and (max-width: 900px) {
  .local_staffdirectory-root .directory .directory-list > li {
    display: block;
  }
  .local_staffdirectory-root .directory .directory-list > li > span {
    width: auto;
    display: inline-block;
    border: 0 none;
  }
  .local_staffdirectory-root .directory .directory-list > li > ul {
    background-color: #f2f4f6;
  }
  .local_staffdirectory-root .directory .directory-list > li > ul > li span {
    display: table-cell;
    padding: 4px;
  }
}
